.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; /*항상위치고정*/
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  margin-top: 10px;
}

.header_icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  margin-right: 80px;
}


